/* reseteo de margenes */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


nav{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 15px;
    flex-direction: column-reverse;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    float: left;
}

nav ul :hover {
    background-color: rgba(89, 19, 170, 0.233);
}

/* pie de pagina*/
.pie_Pagina {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.434);
}
.piePagina {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.434);
}
.titulo {
    color: rgb(36, 1, 68);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main {
    max-width: 850px;
    margin: 50px auto;
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* tex box quien soy*/
.textBox {
    width: 1000px;
    background-color: rgba(203, 203, 174, 0.306);
    padding: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.671);
    font-size: 21px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* tex box quien soy*/
section h3 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}