/* reseteo de margenes */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* estilo de body *//* Aplique grid en todo el body */
body {
    font-family: sans-serif;
    background-color: white;
    /* height: 100vh; */
    position: relative;
    /* padding-bottom: 3em; */
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem auto 4rem;
}

nav{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 15px;
    flex-direction: column-reverse;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    float: left;
}

nav ul :hover {
    background-color: rgba(89, 19, 170, 0.233);
}

.formBox {
    width: 500px;
    background-color: rgba(203, 203, 174, 0.306);
    padding: 30px;
    margin: 150px;
    margin-top: 40px;
    margin-bottom: 39px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.671);
} 
/* pie de pagina*/
.pie_Pagina {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.434);
}

.piePagina {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.434);
}
